# Virtual Environments
venv/
.venv/
env/
**/venv/
**/.venv/
**/env/

# Python cache & build artifacts
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
dist/
build/

# Node / Frontend dependencies & builds
node_modules/
**/node_modules/
.next/
out/

# Environment variables & local configurations
.env
.env.local
*.log

# IDE & Editor files
.vscode/
.idea/
.DS_Store
